.DS_Store
build/
dist/
assets/*
!assets/logo.png
target/
node_modules/
apps/gpt-image-2-app/src-tauri/gen/
.npm/
.omc/
.claude/
design-concepts/
packages/npm/gpt-image-2-skill-linux-arm64-gnu/bin/gpt-image-2-skill
packages/npm/gpt-image-2-skill-linux-x64-gnu/bin/gpt-image-2-skill
packages/npm/gpt-image-2-skill-linux-x64-musl/bin/gpt-image-2-skill
packages/npm/gpt-image-2-skill-darwin-arm64/bin/gpt-image-2-skill
packages/npm/gpt-image-2-skill-darwin-x64/bin/gpt-image-2-skill
packages/npm/gpt-image-2-skill-windows-arm64-msvc/bin/gpt-image-2-skill.exe
packages/npm/gpt-image-2-skill-windows-x64-msvc/bin/gpt-image-2-skill.exe
